body{
    margin: 0;
    padding: 0;
    background-color: #371B58;
    color: #C689C6;
}
.main_flexbox{
    display: flex;
    flex-direction: column;
}
.cima{
    min-width: 800px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-size: 1.2rem;
}
.title a{
    text-decoration: none;
    color: #C689C6;
}
.sidebar nav{
    display: flex;
}
.sidebar p{
    font-size: 1.1rem;
    margin-left: 30px;
}
.middle_flexbox{
    min-width: 800px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_mid{
    text-align: center;
}
li {
    padding-bottom: 50px;
}
.simple-li {
    padding-bottom: 10px;
}

a{
    color: #C689C6;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
}
.item{
    margin: 50px;
    padding: 10px;
    border: 3px solid #C689C6;
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item img{
    width: 500px;
    border: 3px solid #C689C6;
}

