body{
    margin: 0;
    background: #371B58;
    color: #C689C6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
header h1{
    padding-left: 20px;
}
.left_side{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 80vh;
    min-width: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left_side nav{
    height: 500px;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left_side p{
    font-size: 1.1rem;
    list-style: none;
}
.left_side p a{
    padding: 5px 10px;
    margin-top: 50px;
    display: inline-block;
    min-width: 150px;
    max-width: 150px;
    text-decoration: none;
    color: #C689C6;
    border: 1px solid #C689C6;
}
.left_side p a:hover{
    padding: 7px 12px;
    margin-top: 46px;
}


main{
    display:flex;
}
.main_block_odd{
    display: flex;
    margin-bottom: 20px;
}
.block_image_and_title_odd{
    width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #C689C6;
}
.block_image_and_title_odd h1{
    font-size: 2rem
}
.block_image_and_title_odd img{
    width: 380px;
    border: 2px solid #C689C6;
    margin-bottom: 20px;
}
.block_image_and_title_odd h3{
    padding-left: 30px;
}
.block_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 900px;
}

.block_image_and_title_even{
    width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 2px solid #C689C6;
}

.main_block_even{
    display: flex;
    margin-bottom: 20px;
}
.block_image_and_title_even img{
    width: 380px;
    border: 2px solid #C689C6;
    margin-bottom: 20px;
}
footer{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top: 2px dotted #C689C6;
    min-width:100%;
}
.stickers{
    margin-top: 15px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_text{
    text-align:center;
}
