body{
    margin: 0;
    background: #371B58;
    color: #C689C6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 1200px;

}
.main_flexbox{
    display: flex;
}
.esquerda{
    text-align: center;
    align-items: center;
    padding-left: 30px;
    height: 80vh;
    min-width: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title{
    font-size: 1.2rem;
    padding-top: 70px;
}
.footer_text{
    width: 300px;
}
.title a{
    text-decoration: none;
    color: #C689C6;
}
.sidebar{
    height: 500px;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar p{
    font-size: 1.1rem;
    list-style: none;
}
.sidebar p a{
    padding: 5px 10px;
    margin-top: 50px;
    display: inline-block;
    min-width: 150px;
    max-width: 150px;
    text-decoration: none;
    color: #C689C6;
    border: 1px solid #C689C6;
}
.sidebar p a:hover{
    padding: 7px 12px;
    margin-top: 46px;
}
.wrapper_middle{
    display: flex;
    flex-direction: column;
}
.middle_top{
    display: flex;
    width:100%;
    height: 500px;
    margin-top: 20px;

}
.middle_left{
    width: 430px;
    border-right: 2px solid #C689C6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.middle_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    width: 900px;
}
.middle_left img{
    width: 380px;
    border: 2px solid #C689C6;
}
.middle_left h3{
    padding-left: 30px;
}
.middle_bottom{
    display: flex;
    justify-content: space-between;
}
.right_middle_bottom img{
    width: 380px;
    border: 2px solid #C689C6;
}
.right_middle_bottom_text {
    border-right: 2px solid #C689C6;
    margin-right: 20px;
    width: 900px;
}
.right_middle_bottom{
    display: flex;
    align-items: center;
}
.stickers {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.page_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px dotted #C689C6;
}

.footer_note_right{
    padding-right:30px;
}

.footer_note_left{
    padding-left:30px;
}
