body{
    margin: 0;
    padding: 0;
    background-color: #371B58;
    color: #C689C6;
}
.main_flexbox{
    display: flex;
    flex-direction: column;
}
.cima{
    min-width: 800px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-size: 1.2rem;
}
.title a{
    text-decoration: none;
    color: #C689C6;
}
.sidebar nav{
    display: flex;
}
.sidebar p{
    font-size: 1.1rem;
    margin-left: 30px;
}
.sidebar p a{
    color: #C689C6;
}
.middle_flexbox{
    min-width: 800px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_mid{
    text-align: center;
}
.notes{
    margin-left: 150px;
    margin-right: 150px;
}
.notes li{
    list-style: none;
    font-size: 1.1rem;
    padding-bottom: 50px;
}
